html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
background: #F5F5F5;
}

.wrapper {
  width: 100%;
  padding-left: 2px;
  padding-right: 2px;
}

.header {
  display: flex;
  justify-content: center;
}

.header,
.content,
.sidebar,
.wrapper,
.nav {
  margin-bottom: 10px;
  text-align: flex-start;
  color: #2F4F4F;
}

.nav ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
  background: #DCDCDC;
}

.nav li {
  list-style: none;
  padding: 15px;

}

.pineapple {
  height: 300px;
  border-radius: 6px;
  float: right;
  margin-bottom: 100px;
}

.footer nav ul {
  display: flex;
  width: 100%;
  list-style: none;
  padding: 15px;
  justify-content: space-around;
  background: #DCDCDC;
}
