
body{
background: #c2d6d6;
}

.wrapper {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  justify-content: center;
}

.header,
.content,
.sidebar,
.wrapper,
.nav {
  margin-bottom: 50px;
  text-align: center;
}

.nav ul {
  display: flex;
  justify-content: center;
  background: #a3c2c2;
}

.nav li {
  list-style: none;
  padding: 15px;
}

.pineapple {
  width: 100%;
  max-width: 250px;
  border-radius: 40px;
}
